.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.category{
    border: 2px solid #44c8f5;
    padding: 20px;
    border-radius: 25px;
    width: 250px;
    box-shadow: 4px 4px #44c8f5;
}

h2{
    text-align: center;
}

.hidden{
    display: none;
}

.login, button{
    margin: 16px;
}
